<%= simple_form_for(@login) do |f| %>
  <%= f.error_notification %>
<div class="col-md-4 col-md-offset-4">
	<h1>Please Login</h1>
  <div class="form-inputs">
    <%= f.input :student_id %>
  </div>
    <%= f.submit "Sign in" %>
  </div>
</div>
<% end %>



