<div class="col-md-4 col-md-offset-4">

	<div class="panel panel-default">
    <div class="panel-heading">
        <h4 cla> Please Login</h4>
    </div>
    <div class="panel-body">
      <%=image_tag("default.png", height: 100, width: 100, class: 'img-circle img-responsive center-block') %>
      <br>
      <br>
  		<%=form_tag student_logins_path, method: :get do %>
    		<%= text_field_tag :id_number, params[:id_number], class: 'form-control input-lg', placeholder:"ID Number...", autofocus: true %>
    		<br>
    		<%= submit_tag "Sign-in", name: nil, class: "btn btn-lg pull-right" %>
    	<% end %>
    </div>
   </div>
</div>